[Desktop Entry]
Name=Digital Clock (OOP)
Comment=Digital Clock (OOP)
Encoding=UTF-8
Icon=applications-rss
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=davidedmundson@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=org.kde.plasma.remote.digitalclock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://techbase.kde.org
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
